#myDiv {
    width: 1260px;
    height: 600px;
    background-image: url(runningchild.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    position: relative;
}

.container {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 170px;
	top: 140px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 30px;
}

b {
    color: #E6A922;
}

p {
    font-size: 18px;
}

.btn {
    margin-right: 170px;
}

.svg {
    position: absolute;
    left: 40px;
	top: 0px;
}

.menu {
    position: absolute;
    left: 700px;
	top: 30px;
}

.menu-main {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.btn-two {
    background-color: #43BE5F;
    border: none;
    font-size: 15px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-left: 20px;
    color: #E6A922;
}

.box {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.smallBox {
    padding: 20px;
}

h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.par {
    font-size: 15px;
}

.campDate {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #43BE5F;
}

#text {
    text-align: center;
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.input {
    padding: 20px;
    margin: 10px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.button {
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* фон */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}

.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

.modal-dialog {
    position: relative;
    width: 550px;
    margin-top: 100px;
    margin-left: 400px;
    border-radius: 10px;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    color: #E6A922;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
    color: #E6A922;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

@media all and (max-width: 800px) {
        #myDiv {
            width: auto;
            height: 530px;
        }
    
        .container {
            width: 300px;
            top: 200px;
            left: 50px;
        }
        
        h1 {
            font-size: 20px;
        }
        
        p {
            font-size: 12px;
        }
        
        .svg {
            left: 30px;
        }
        
        .menu {
            display: flex;
            flex-direction: column;
            left: 550px;
            top: 10px;
        }
        
        .menu-main {
            font-size: 10px;
        }
        
        .btn-two {
            font-size: 12px;
        }
        
        h2 {
            font-size: 20px;
        }
        
        .smallBox {
            padding: 10px;
        }
        
        h3 {
            font-size: 12px;
        }
        
        .par {
            font-size: 10px;
        }
        
        h4 {
            font-size: 50px;
        }
        
        #text {
            font-size: 20px;
        }

        .form {
            margin-left: 50px;
        }
        
        .button {
            margin-left: 50px;
        }
        
        .modal-dialog {
            max-width: 350px;
            margin: 30px auto; /* отображение окна по центру */
        }

        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
            box-shadow: 0 5px 15px rgba(0,0,0,.5);
        }
    
}

@media all and (max-width: 500px) {
    .menu {
        left: 220px;
        top: 10px;
    }
}
